[submodule "assets/SCSS-BEM____ArchitectureBlockElementModifier"]
	path = assets/SCSS-BEM____ArchitectureBlockElementModifier
	url = git@github.com:webdev-archist/SCSS-BEM____ArchitectureBlockElementModifier.git
[submodule "_/builders/PROJECTS___CJS"]
	path = _/builders/PROJECTS___CJS
	url = git@github.com:webdev-archist/PROJECTS___CJS.git
[submodule "_/PROJECTS/WEBPROJECT__jlpt"]
	path = _/PROJECTS/WEBPROJECT__jlpt
	url = git@github.com:webdev-archist/WEBPROJECT__jlpt.git
[submodule "_/PROJECTS/OCR_MENTOR/OC__P2"]
	path = _/PROJECTS/OCR_MENTOR/OC__P2
	url = git@github.com:achicyr/OC__P2.git
[submodule "_/PROJECTS/OCR_MENTOR/OC__P3"]
	path = _/PROJECTS/OCR_MENTOR/OC__P3
	url = git@github.com:achicyr/OC__P3.git
[submodule "_/PROJECTS/OCR_MENTOR/0_ENV"]
	path = _/PROJECTS/OCR_MENTOR/0_ENV
	url = git@github.com:achicyr/0_ENV.git
[submodule "_/PROJECTS/OCR_MENTOR/1__HTML"]
	path = _/PROJECTS/OCR_MENTOR/1__HTML
	url = git@github.com:achicyr/1__HTML.git
[submodule "_/PROJECTS/OCR_MENTOR/2__CSS"]
	path = _/PROJECTS/OCR_MENTOR/2__CSS
	url = git@github.com:achicyr/2__CSS.git
[submodule "_/PROJECTS/OCR_MENTOR/3__JavaScript"]
	path = _/PROJECTS/OCR_MENTOR/3__JavaScript
	url = git@github.com:achicyr/3__JavaScript.git
[submodule "_/PROJECTS/OC__frontend"]
	path = _/PROJECTS/OC__frontend
	url = git@github.com:achicyr/OC__frontend.git
[submodule "_/PROJECTS/generateCVs/generatorsCollection/cbyl"]
	path = _/PROJECTS/generateCVs/generatorsCollection/cbyl
	url = git@github.com:webdev-archist/cbyl.git
[submodule "_/builders/myBoilerplate"]
	path = _/builders/myBoilerplate
	url = git@github.com:webdev-archist/myBoilerplate.git
[submodule "_/builders/PROJECTS___mapDOM"]
	path = _/builders/PROJECTS___mapDOM
	url = git@github.com:webdev-archist/PROJECTS___mapDOM.git
[submodule "_/PROJECTS/WEBDEV_Portfolio_react"]
	path = _/PROJECTS/WEBDEV_Portfolio_react
	url = git@github.com:webdev-archist/WEBDEV_Portfolio_react.git
[submodule "_/PROJECTS/quizApp"]
	path = _/PROJECTS/quizApp
	url = git@github.com:webdev-archist/PROJECTS___QUIZES.git
[submodule "_/--force"]
	path = _/--force
	url = git@github.com:webdev-archist/PRODUCTIONs.git
[submodule "assets/mentor_SCSS_BEM"]
	path = assets/mentor_SCSS_BEM
	url = git@github.com:mentor-OC-archist/SCSS___system7-1.git
